@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    background-color: #131820;
    /* gris oscuro */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary {
    background-color: #2d3441;
    /* gris un poco más claro */
    width: 80%;
    height: 80%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    padding: auto;
}